*{
  padding:0;
  margin:0;
  box-sizing:boarder-box;
}
#topper{
  padding-top:26px;
  padding-left:52px;
  font-size:18px;
}
.carousel-item {
  height: 80vh;
  min-height: 420px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  position: relative;
  bottom:8px;
}
