*{
  box-sizing:border-box;
}
body{
  padding:0;
  margin:0;
}
#topper{
  padding-top:26px;
  padding-left:52px;
  margin-bottom:0;
}
.carousel-item {
  height: 80vh;
  min-height: 420px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  position:relative;
  bottom:8px;
}
img {
<<<<<<< HEAD
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
}
=======
  height:100%;
  width:100%;
}
>>>>>>> 092d6bcf9f16a35d306230bd7b4dd5f4821a33d3
